.products {
  /* background-image: linear-gradient(180deg, #f3f1ef, #fff8f2); */
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.title-p {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-p h3 {
  font-family: goldtag;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.title-p a {
  font-family: goldtag;
  font-size: 13px;
  font-weight: 400;
  color: #436fbe;
  border: 1px solid #436fbe;
  border-radius: 4px;
  padding: 3px 12px;
}

.products-container {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(5, 360px);
  grid-template-columns: repeat(2, 50%);
}

.products-container .product-card {
  background-color: white;
  border-top: 2px solid #6161611d;
  border-bottom: 2px solid #6161611d;
}


.product-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.product-card {
  font-family: goldtag;
}

.det {
  width: 100%;
  padding: 8px;
  border-top: 1px solid #61616128;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.product-card h4 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.product-card p {
  font-size: 12px;
  font-weight: 300;
  color: #616161;
}

.product-card .price-tag {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.product-card .price-tag span {
  color: #bc4141;
  font-weight: 400;
  font-size: 17px;
  position: relative;
}

.product-card .price-tag span::before {
  content: "۹,۰۰۰,۰۰۰";
  text-decoration: line-through;
  font-weight: 400;
  font-size: 12px;
  color: #6161616c;
  position: absolute;
  left: 130px;
  top: 4px;
  z-index: 2;
}

.products-container .product-card:nth-of-type(1) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/558x405/614915138_1740233729__750-544.jpg);
}

.products-container .product-card:nth-of-type(2) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/17516063_1740232074__750-544.jpg);
}

.products-container .product-card:nth-of-type(3) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/1989155653_1740227737__750-544.jpg);
}

.products-container .product-card:nth-of-type(4) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/89694254_1740224149__750-544.jpg);
}

.products-container .product-card:nth-of-type(5) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/1837007120_1740231351__750-544.jpg);
}

.products-container .product-card:nth-of-type(6) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/806688771_1740224265__750-544.jpg);
}

.products-container .product-card:nth-of-type(7) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/1892903518_1740055002__750-544.jpg);
}

.products-container .product-card:nth-of-type(8) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;

  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/270x170/2120704248_1740033055__750-544.jpg);
}

.products-container .product-card:nth-of-type(9) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;
  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/620x450/339476042_1740660823__750-544.jpg);
}

.products-container .product-card:nth-of-type(10) div.card-image {
  background-size: cover;
  width: 100%;
  height: 61%;
  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/620x450/1787939043_1722518109__750-544.jpg);
}

.products-container .product-card {
  position: relative;
}

.card-image .sale {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: absolute;
  top: 300px;
  right: 8px;
  width: 120px;
  height: 25px;
  font-family: goldtag-numbers;
  font-size: 12px;
  font-weight: 300;
  color: rgb(62, 62, 62);
  background-color: rgb(255, 255, 255);
}

.sale svg {
  margin-left: 5px;
  margin-bottom: 3px;
}
.sale::after {
  content: "فروخته شده";
  font-family: goldtag;
  font-size: 12px;
  font-weight: 200;
  color: #797979;
  margin-right: 4px;
  line-height: 25px;
}

.products .swiper-slide{
  border: #6161611d;
}

.products .swiper-slide .product-card{
  width: 300px;
  height: 300px;
  border: 1px solid #6161611d;
  border-radius: 8px;
}

.products .swiper-slide .card-image {
  background-size: cover;
  width: 100%;
  height: 61%;
  background-image: url(https://cdn3.goldtag.net/web/uploads/pictures/558x405/614915138_1740233729__750-544.jpg);
}

.products .swiper-slide .product-card .price-tag {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.products .swiper-slide .product-card .price-tag span {
  color: #bc4141;
  font-weight: 400;
  font-size: 17px;
  position: relative;
}

.products .swiper-slide .product-card .price-tag span::before {
  content: "۹,۰۰۰";
  text-decoration: line-through;
  font-weight: 400;
  font-size: 12px;
  color: #6161616c;
  position: absolute;
  left: 95px;
  top: 4px;
  z-index: 2;
}

.products .swiper-slide .card-image .sale {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: absolute;
  top: 270px;
  right: 8px;
  width: 120px;
  height: 25px;
  font-family: goldtag-numbers;
  font-size: 12px;
  font-weight: 300;
  color: rgb(62, 62, 62);
  background-color: rgb(255, 255, 255);
}

.products .swiper-slide .sale svg {
  margin-left: 5px;
  margin-bottom: 3px;
}

.products .swiper-slide .product-card .sale::after {
  content: "فروخته شده";
  font-family: goldtag;
  font-size: 12px;
  font-weight: 200;
  color: #797979;
  margin-right: 4px;
  line-height: 25px;
}